body {
  color: #007bff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header, .footer {
  background-color: rgb(102, 175.8, 255);
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 2em;
}

.about h2 {
  font-size: 1.5em;
}
.about p {
  font-size: 16px;
}

.features h2 {
  font-size: 1.5em;
}
.features .feature-list {
  list-style-type: disc;
  padding-left: 20px;
}
.features .feature-list li {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(51, 149.4, 255);
}

.example h2 {
  font-size: 1.5em;
}
.example .example-text {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(51, 149.4, 255);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 1.5em;
  }
  main {
    padding: 10px;
  }
}